mixin customForm(options)
  div(data-form-validate, data-callback="base")
    form(class=`${options.classname ? 'custom-form ' + options.classname : 'custom-form'}` id=`${'form ' + options.id}` method='post')
      p.custom-form__title Рассчитайте точную цену:
      .custom-form__inputs-wrapper
        if options.classname === 'second-form'
          +custom-input({
            inputType: "email",
            inputName: "email",
            inputPlaceholder: 'Введите Email'
          })(data-validate-type="email", data-message-base="Поле обязательно к заполнению", data-required).custom-form__input.custom-form__input--email
          input.partnerId(type="hidden" name="partnerId" value="#PARTNER_ID_VALUE#")
        else
          +custom-input({
            inputType: 'text',
            inputName: "theme",
            inputPlaceholder: 'Введите тему работы'
          })(data-validate-type="text", data-limitation="name", data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", ).custom-form__input.custom-form__input--theme
          +custom-input({
            inputType: "email",
            inputName: "email",
            inputPlaceholder: 'Введите Email'
          })(data-validate-type="email", data-message-base="Поле обязательно к заполнению", data-required).custom-form__input.custom-form__input--first-email.visibility-hidden
          input.partnerId(type="hidden" name="partnerId" value="#PARTNER_ID_VALUE#")
        if options.classname === 'second-form'
          button.custom-form__button(type="submit") РАССЧИТАТЬ
        else
          button.custom-form__button.custom-form__button--next(type="button") ПРОДОЛЖИТЬ
          button.custom-form__button.custom-form__button--last.visibility-hidden(type="submit") РАССЧИТАТь
      div(data-validate-type="checkbox" data-required).custom-form__input-agreeament-wrapper
        input(name="agreeament" checked=true class='custom-form__input-agreeament visibility-hidden' id=`${'agreeament ' + options.id}` type="checkbox" )
        label(for=`${options.id ? 'agreeament ' + options.id: 'agreeament'}`)  Нажимая кнопку "Узнать стоимость", вы соглашаетесь с
          =' '
          a(href="#some") политикой конфиденциальности
